/* Defining CSS Variables */
:root {
    --column-number: 10;
    --column-width: 1fr;
    --row-number: 10;
    --row-width: 1fr;
}

* {
    margin: 0;
    padding: 0;
    /* border: 2px solid red; */
}

body, html {
    height: 100%;
}

/* Solution using flexbox */

.header {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid {
    display: grid;
    grid-template-columns: repeat(var(--column-number), var(--column-width));
    grid-template-rows: repeat(var(--row-number), var(--row-width));
    height: 500px;
    width: 500px;
    border: 1px solid;
}

.box {
    border: 1px solid;
}

.footer {
    display: flex;
    position: absolute;
    bottom: 0;
    height: 5%;
    width: 100%;
}